

.dropdown {
	width: 100%;
	height: 40px !important;
}

.dropdown li {
	text-align: center !important;
}

.dropdowm a {
	padding: 3px 20px !important;
}

tbody td {
	border:solid black 1px !important;
    word-wrap: break-word;
}

thead td {
	border:transparent !important;
}

table {
	border-spacing: 0 10px;
	border-collapse: inherit;
	table-layout: fixed;
}

.tableContainer {
	padding: 20px !important;
	max-width: 100% !important;
}

.selectWidth {
	width: 100%;
}

.eventsContainer {
	background-color:#D3D3D3;
	height: 875px;
	overflow-y: scroll;
}

.pointer {
	cursor: pointer;
}

.itemDetailsWrapper {
	background-color: white;
}

.DetailsWrapper {
	background-color: white;
}

.activeTab {
	background-color: white;
}

.tab {
	height: 80px;
	font-size: 2rem;
	color: red;
	z-index: 100;
}

.hoverBlack:hover {
	background-color: grey;
}

.searchInput {
	text-align: right !important;
}

.highet-test {
	height: 400px;
}