.App {
  text-align: center;
}

.container-fluid{
  padding: 0;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
  max-width: 125px;
  width: auto;
}

.hamburger {
  font-size: 8vw;
}

.hamburgerContainer {
  background-color: grey;
  height: 1050px;
}

.center {
  text-align: center;
}

.padding {
  padding: 0 !important;
}

.logoContainer {
  background-color: black;
}

.sideNav {
  font-size: 3rem;
}

.loginPanel {
  font-size: 2rem;
}

.verticalMiddle {
  margin-top: 70px; 
}

.longNav {
  height: auto;
  min-height: 1050px;
  background-color: black;
}

.navAnchor {
  padding:7px !important;
  border:0.1px solid grey;
  box-sizing: border-box;
}

.navbar-nav li {
  background-color: black;
}

.navbar-nav li:hover {
  background-color: grey;
}

.mainNav {
  font-size: 2.5rem;
  margin-top: 30px;
  overflow: hidden !important;
  background-color: #222;
}

.newEventBtn {
  width: 90%;
  height: 8rem;
  font-size: 3rem;
}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 0px !important;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .newEventBtn {
    font-size: 3.5vw;
  }
}